.coffee {
  .path1 {
    fill: red;
  }
  .path2 {
    fill: brown;
  }
  .path3 {
    fill: green;
  }
  .path4 {
    fill: goldenrod;
  }
  .path5 {
    fill: rosybrown;
  }
  .path6 {
    fill: blueviolet;
  }
  .path7 {
    fill: tomato;
  }
  .path8 {
    fill: aqua;
  }
  .path9 {
    fill: blue;
  }
  .path10 {
    fill: hotpink;
  }
  .path11 {
    fill: darkorange;
  }
  .path12 {
    fill: royalblue;
  }
  .path13 {
    fill: orchid;
  }
}
