.search-bar {
  --size: 40px;
  display: flex;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  align-items: center;
  border-radius: 50px;
  width: var(--size);
  height: var(--size);
  position: relative;
  overflow: hidden;
  transition: width 0.3s ease-in-out;

  input {
    font: inherit;
    height: var(--size);
    border: 0;
    background: transparent;
    position: absolute;
    padding: 0.5em 0.75em;
    top: 0;
    left: 0;
    bottom: 0;
    opacity: 0;
    transition: opacity 0.3s ease;
    cursor: pointer;
    &:focus {
      outline: 0;
    }
  }

  button {
    border: 0;
    padding: 10px;
    background-color: transparent;
    border-radius: 50%;
    width: calc(var(--size) - 3px);
    height: calc(var(--size) - 3px);
    margin-left: auto;
    transition: background-color 0.3s ease;
    cursor: pointer;
  }

  &:focus-within {
    width: 300px;
    border-color: rgb(16, 94, 211);
    input {
      opacity: 1;
      cursor: initial;
      width: calc(100% - var(--size));
    }
    button {
      background-color: rgb(16, 94, 211);
      transition: box-shadow 0.3s ease;
      &:hover {
        box-shadow: 0 0 6px rgba($color: #000000, $alpha: 0.5);
      }
      img {
        filter: invert(1);
      }
    }
  }
}
