@import "./remedies";
@import "./search-bar";
@import "./form";

body {
  background-color: #eee;
  color: #333;
  font-size: 18px;
}
main {
  padding: 4em 0;
}
img {
  width: 100%;
  height: auto;
}
a.logo {
  display: inline-block;
  width: 100px;
}
a {
  color: #000;
  text-decoration: none;
  border-bottom: 1px dotted #333;
}
header {
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  nav {
    display: flex;
    border-bottom: 4px solid #333;
    justify-content: center;
  }
  a {
    display: inline-block;
    padding: 1em;
    border-bottom: none;
    text-transform: uppercase;
    font-size: 90%;
  }
}
.container {
  padding: 0 15px;
  max-width: 1000px;
  margin: 0 auto;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 6em;
  font-weight: 700;
  color: #fff;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-attached: fixed;
  background-image: url(../images/bg-buildings.jpg);
  position: relative;
  min-height: 500px;
}
