extends includes/layout

block content
    .container
        #cards
            .card__container
                .card.cardActive
                    figure
                        img(src="images/content/foto.jpg", alt="Foto")
                    .card__text
                        h2 I'm a picture
                        p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quasi soluta distinctio saepe nesciunt voluptate cupiditate.
            .card__container
                .card
                    figure
                        img(src="images/content/foto.jpg", alt="Foto")
                    .card__text
                        h2 I'm a picture
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat, obcaecati?
            .card__container
                .card
                    figure
                        img(src="images/content/foto.jpg", alt="Foto")
                    .card__text
                        h2 I'm a picture
                        p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deleniti exercitationem aliquam voluptate beatae necessitatibus? Magnam, nesciunt blanditiis, dolores velit pariatur sequi rerum sint sit tenetur, quidem quibusdam. Ratione, explicabo voluptatum.
            .card__container
                .card
                    figure
                        img(src="images/content/foto.jpg", alt="Foto")
                    .card__text
                        h2 I'm a picture
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione vitae architecto accusantium hic maxime dolore aliquid doloribus necessitatibus.
            .card__container
                .card
                    figure
                        img(src="images/content/foto.jpg", alt="Foto")
                    .card__text
                        h2 I'm a picture
                        p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quasi soluta distinctio saepe nesciunt voluptate cupiditate quas officiis.
            .card__container
                .card
                    figure
                        img(src="images/content/foto.jpg", alt="Foto")
                    .card__text
                        h2 I'm a picture
                        p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magnam quo, nisi ea voluptas quas inventore voluptates ipsa rem, ipsum ab, laudantium sint cupiditate culpa necessitatibus. Necessitatibus debitis nemo, eius expedita quaerat magnam, tenetur veniam repudiandae sint consequatur sapiente, explicabo voluptatum.