extends includes/layout

block content
    .container
        button.open-modal(type="button" data-open="modal1") Modal One
        button.open-modal(type="button" data-open="modal2") Modal Two

        .modal.modal(id="modal1")
            .modal-dialog
                header.modal-header
                    h2 Modal Header One
                    button.close-modal(type="button" aria-label="close modal" data-close) X
                section.modal-content
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, laborum.
                footer.modal-footer
                    span Modal Footer
        
        

        .modal.modal(id="modal2")
            .modal-dialog
                header.modal-header
                    h2 Modal Header Two
                    button.close-modal(type="button" aria-label="close modal" data-close) X
                section.modal-content
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, laborum.
                    p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quae repellendus consectetur ipsa perspiciatis molestiae veniam atque similique mollitia! Quisquam aperiam perferendis corrupti, at assumenda laborum aspernatur deserunt excepturi cum ea!
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit fuga porro consectetur animi quos labore mollitia ut. Dolore dolores aperiam corporis aspernatur harum minus illum. Minima quidem odit quod eligendi?
                    p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minus quidem assumenda voluptates dolore velit eius nisi perspiciatis! Minus soluta dolore, hic voluptatum repellat amet culpa harum debitis voluptate voluptas quia!
                    p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatum, cumque qui? Nesciunt omnis architecto rem nostrum assumenda temporibus fugit eligendi quia nisi excepturi. Debitis commodi earum beatae cupiditate voluptatibus nesciunt?
                footer.modal-footer
                    span Modal Footer

        h1 The Lorem Ispum
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum accusantium optio enim? Quam, non, eos, voluptatum provident recusandae incidunt quo facere voluptas expedita odio quod possimus aut. Culpa, deserunt dolorum.
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos quod at accusamus facere accusantium, neque dolorem, asperiores vero debitis ducimus quaerat repellendus nostrum cumque earum ut officia laborum tempora numquam.
        p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus dignissimos nostrum quibusdam repellat repellendus exercitationem, fugiat eligendi esse modi deleniti rem officiis adipisci consequuntur excepturi id. Maxime molestiae sequi quisquam.
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. In dicta reprehenderit architecto, perspiciatis perferendis fuga iusto odit, eaque quo nesciunt vero. Ex ut eius possimus ipsa, eum fuga provident. Fuga.