extends includes/layout

block content
    .container
        h1 Rellax
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, laboriosam aut. Est consequuntur adipisci labore, explicabo eos dolor nulla maiores impedit delectus perferendis, aliquam nam animi. Vel, perferendis? Cum, accusamus!
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam enim nostrum aut eveniet similique temporibus autem saepe doloribus harum in quisquam, deleniti quibusdam facere cum ullam, alias, asperiores odit! Quas!
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, laboriosam aut. Est consequuntur adipisci labore, explicabo eos dolor nulla maiores impedit delectus perferendis, aliquam nam animi. Vel, perferendis? Cum, accusamus!
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam enim nostrum aut eveniet similique temporibus autem saepe doloribus harum in quisquam, deleniti quibusdam facere cum ullam, alias, asperiores odit! Quas!

        .boxes
            .box.rellax(data-rellax-speed="0")
            .box.rellax(data-rellax-speed="-1")
            .box.rellax(data-rellax-speed="-2")
            .box.rellax(data-rellax-speed="-3")

        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, sint ipsum reiciendis, voluptate doloremque aperiam, asperiores cum consequatur maiores saepe debitis praesentium ea soluta eius enim dicta minus excepturi nulla!
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium excepturi odio culpa, dolore doloribus exercitationem animi est quis tenetur quisquam deserunt, accusantium eos illum quo eaque dolorem recusandae dolores debitis!
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, sint ipsum reiciendis, voluptate doloremque aperiam, asperiores cum consequatur maiores saepe debitis praesentium ea soluta eius enim dicta minus excepturi nulla!
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium excepturi odio culpa, dolore doloribus exercitationem animi est quis tenetur quisquam deserunt, accusantium eos illum quo eaque dolorem recusandae dolores debitis!
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, sint ipsum reiciendis, voluptate doloremque aperiam, asperiores cum consequatur maiores saepe debitis praesentium ea soluta eius enim dicta minus excepturi nulla!
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium excepturi odio culpa, dolore doloribus exercitationem animi est quis tenetur quisquam deserunt, accusantium eos illum quo eaque dolorem recusandae dolores debitis!
