extends includes/layout

block content
    .container
        img(src="images/content/coffee.svg", alt="logo" data-scroll)
        img(src="images/content/coffee2.svg", alt="logo" data-scroll)
        img(src="images/content/mess.svg", alt="logo" data-scroll)