header
	.container
		//- a(href="index.html" class="logo")
		//- 	img(src="images/logo.svg", alt="logo")
		nav
			a(href="index.html") Home
			a(href="form.html") Form
			a(href="scroll.html") Scroll
			a(href="modal.html") Modal
			a(href="rellax.html") Rellax
			a(href="scroll-out.html") Scroll-Out
			a(href="filter.html") Filter
		
		.search-bar
			input(type="text", name="search" placeholder="Buscar" aria-label="Search")
			button
				img(src="../images/icon-search.svg", alt="Search")
